*{
	  margin: 0;
	  padding: 0;
	  font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../6);
	height: 100vh;
	background-size: cover;
	background-position: center;


}

ul{
	float: right;
	list-style-type: none;
    margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	color: mistyrose;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: mistyrose;
	color: black;
}
ul li.active a{
	background-color: mistyrose;
	color: #000;
}
.title{
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: mistyrose;
	font-size: 25px;
}

img{
	width: 100px;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left:45%;
}

.box{
	position: absolute;
	top: 60%;
	left: 20%;
	transform: translate(-50%,-50%);
}

.box h3{
	color: mistyrose;
	font-size: 20px;
	
	ext-decoration: none;
}

.box h4{
	color: mistyrose;
	font-size: 15px;

	font-weight: lighter;
	ext-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.box h5{
	color: mistyrose;

	font-size: 18px;
	font-weight: 50;
	ext-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.intro p{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.intro p{
	color: mistyrose;
	font-size: 18px;

	font-weight: lighter;
	ext-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.skills{
	position: absolute;
	top: 60%;
	left: 80%;
	transform: translate(-50%,-50%);
}
.skills h3{
	color: mistyrose;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
	ext-decoration: none;

}

.skills p{
	color: mistyrose;
		font-size: 18px;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
	
}

.about{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}



.about p{
    ext-decoration: none;
    font-size: 18px;
    font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
	color: mistyrose;
}

.about h4{
	ext-decoration: none;
	color: mistyrose;
	font-size: 20px;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
}
